# Python 3.7 is perhaps the earliest python version that will work with these requirements.

Faker >= 13.7.0
pyyaml >= 6.0, <7.0
deprecation ~= 2.1.0
tqdm >= 4.65.0
python-dateutil >= 2.9.0.post0

# setuptool may not strictly be needed, but is probably already installed.
setuptools >= 61.2.0
